@model IEnumerable<OnlineMovieTicketBookingApp.Models.Movie>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<style>
        body {
            background-color: black;
        }

        .card {
            @*position: relative;*@
            /*left: 30px;*/
            top: 20px;
            text-align: center;
            color: white;
            background-color: black;
            font-family: Arial, Helvetica, sans-serif;
            float: left;
            margin: 5px;
        }

        .card-img-top {
            width: 60%;
            height: auto;
            object-fit: cover;
        }

    .card-title {
        font-size: 13px;
    }


        .card-text {
            font-size: 12px;
        }

        /*.card-link {
            font-size: 12px;
            color: lightsteelblue;
        }*/

    /* Style the tab */
    /*.tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }*/

        /* Style the buttons that are used to open the tab content */
     /*   .tab button {
            background-color: grey;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            margin:5px;
        }*/

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        /*border: 1px solid #ccc;*/
        border-top: none;
    }

    .nav-pills > li > a {
        color: white !important;
    }

    .tab {
        margin: 5px;
        left: 10px;
    }
    
    .nav-pills > li > a.active {
        background-color: white !important;
        color: black !important;
    }

    .nav-pills > li > a:hover {
        background-color: gray !important;
        color: white !important;
    }

    /*.nav-link-color {
        color: black !important;
    }*/

    .coming-soon{
        color:black;
    }
</style>

<script>
    function displayMovies(evt, status) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(status).style.display = "block";
        evt.currentTarget.className += " active";
    }

</script>

<div class="tab">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active tablinks" id="pills-home-tab" data-toggle="pill" href="#now-showing" role="tab" aria-controls="pills-home" aria-selected="true" onclick="displayMovies(event, 'now-showing')">Now Showing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link tablinks" id="pills-profile-tab" data-toggle="pill" href="#coming-soon" role="tab" aria-controls="pills-profile" aria-selected="false" onclick="displayMovies(event, 'coming-soon')" >Coming Soon</a>
        </li>
    </ul>
</div>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active tabcontent" id="now-showing" role="tabpanel" aria-labelledby="pills-home-tab">@await Html.PartialAsync("_NowShowing")</div>
    <div class="tab-pane fade show tabcontent" id="coming-soon" role="tabpanel" aria-labelledby="pills-profile-tab">@await Html.PartialAsync("_ComingSoon")</div>
</div>






