

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body{
        background-color:black;
        color:white;
    }
    .jumbotron {
        background-image: url("../MiscImages/MovieReelBanner.jpg");
        background-size: cover;
        height:400px;
    }
</style>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <br/><br /><br />
        <h1 class="display-4">Welcome to Scene-nigma!</h1>
        <p class="lead">Life is an enigma. Navigate through yours with every scene.</p>
        <p>Begin your journey with Scene-nigma...</p>
        <p class="lead">
            <a class="btn btn-outline-warning btn-lg" href="#" role="button">Book Tickets Now</a>
        </p>
        <br/><br />
    </div>
</div>
<h3 class="display-4">Now Showing</h3>

<div>

</div>
