@model OnlineMovieTicketBookingApp.Models.Admin
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>

<style>
    .container {
        float:left;
        height:200px;
        width:300px;
        margin:5px;
        text-align:center;
        left:300px;
        top:150px;
        position:relative;

    }
</style>
<div>
    <div class="container">
        <button class="btn btn primary"> Manage Movies</button>
        
    </div>
    <div class="container">
        <button class="btn btn-primary">Manage Show Times</button>
    </div>
</div>
